.top-bar, .sign-up, .description, .section, .images, .image, ul {
    display: flex;
}

.top-bar {
    justify-content: center;
    align-items: center;
}

.logo, ul, .left-side, .right-side {
    margin: auto;
}

ul {
    padding: 0;
    gap: 16px;
}

.left-side {
    justify-content: center;
}

img.big-one {
    width: 300px;
}

img {
    width: 200px;
    border-width: 3px;
    border-color: rgb(16, 111, 253);
    border-style: solid;
    border-radius: 8px;
}

.images {
    gap: 16px;
}

.image {
    flex-direction: column;
    align-items: center;
}

.section.one {
    flex-direction: column;
    align-items: center;
}

.subtext {
    width: 200px;
    text-align: center;
}

.section.two {
    flex-direction: column;
    align-items: center;
}

.sign-up {
    background-color: blue;
    align-items: center;
    margin: auto;
}