.top-bar, .description {
    display: flex;
}

.top-bar {
    justify-content: center;
    align-items: center;
}

.logo, ul, .left-side, .right-side {
    margin: auto;
}

ul {
    padding: 0;
    display: flex;
    gap: 16px;
}

.left-side {
    justify-content: center;
}

img.big-one {
    width: 300px;
}

img {
    width: 200px;
    border-width: 3px;
    border-color: rgb(16, 111, 253);
    border-style: solid;
    border-radius: 8px;
}

.images {
    display: flex;
    gap: 16px;
}