.top-bar, .info, .sign-up, .description, .section, .images, .image, ul, .left-side {
    display: flex;
}

body {
    color: rgb(37, 38, 39);
    font-size: 18px;
    margin: 0;
}

.top-bar {
    justify-content: center;
    align-items: center;
    padding: 8px;
}

a:visited {
    color: rgb(37, 38, 39);
}

a {
    text-decoration: none;
}

.description {
    padding: 48px;
}

.left-side {
    width: 600px;
    flex-direction: column;
}

.logo, ul, .left-side, .right-side {
    margin: auto;
}

ul {
    padding: 0;
    gap: 16px;
}

.left-side {
    justify-content: center;
}

img.big-one {
    width: 500px;
}

img {
    width: 200px;
    border-width: 3px;
    border-color: rgb(2, 108, 124);
    border-style: solid;
    border-radius: 8px;
}

.images {
    gap: 16px;
    flex-wrap: wrap;
}

img.big-one {
    border-color: rgb(232, 221, 181);
}

.image {
    flex-direction: column;
    align-items: center;
}

.section.one {
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

h2 {
    margin-top: 0;
}

.subtext {
    width: 200px;
    text-align: center;
}

.section.two {
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.sign-up {
    background-color: rgb(2, 108, 124);
    color: white;
    align-items: center;
    margin: auto;
    padding: 24px 48px;
    border-radius: 24px;
    gap: 32px;
}

h3 {
    margin: 0;
}

.footer {
    text-align: center;
}

.info {
    flex-direction: column;
    flex: 1;
}

.header, .footer {
    background-color: rgb(2, 108, 124);
    color: white;
}

.info {
    background-color: rgb(186, 222, 252);
}

.section.two {
    background-color: rgb(133, 199, 242);
}

.section.three {
    padding: 48px;
}

button {
    background-color: rgb(232, 221, 181);
    border: none;
    padding: 15px 32px;
    text-align: center;
    width: 200px;
    border-radius: 8px;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2, .section.two {
    font-size: 36px;
}

.logo {
    font-size: 24px;
}

p {
    margin: 0;
}